{{#if addNewPost}}
<h1>New Question</h1>
<div class="well">
 <form>
   <div class="form-group">
     <label for="author">Author</label><br>
     {{input value=author id="author"}}
   </div>

   <div class="form-group">
     <label for="content">Questions</label><br>
     {{input value=content id="content"}}
   </div>

   <div class="form-group">
     <label for="addition">Specifications</label><br>
     {{input value=addition id="addition"}}
   </div>
   <div class="btn-group">
     <button type="button" class="btn btn-success btn-md" {{action 'savePost1'}}>Save</button>
     <button type="button" class="btn btn-warning btn-md" {{action 'cancelNewPost'}}>Cancel</button>
   </div>
 </form>
</div>
{{else}}
  <button class="btn btn-success btn-lg" {{action 'postFormShow'}}>Ask a Question!!!</button>
{{/if}}
